 /* .sidebar-heading {
    color: var(--sidebar-heading-color);
    background-color: var(--sidebar-heading-bg);
  }*/

  .sidebar-heading 
  {
    color: var(--sidebar-heading-color);
    background-color: var(--sidebar-heading-bg);
  }